
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etudiant of etudiants">
          <td>{{ etudiant.id }}</td>
          <td>{{ etudiant.nom }}</td>
          <td>{{ etudiant.prenom }}</td>
          <td> <button type="button" class="btn btn-danger" (click)="delete(etudiant.id)">Delet</button>
         </td>
          <td><button type="button" class="btn btn-info">update</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>